.content-desktop {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: scroll;

  .card {
    transition: ease-out 0.5s;
    max-width: 11.5%;
    margin: 10px 0 0 10px;
    overflow-y: hidden;
    cursor: pointer;
  
    .img-desktop {
      width: 100%;
      height: 200px;
    }
  
    .card-title {
      transition: ease-out 0.5s;
      width: 100%;
      height: 0;
      position: absolute;
      bottom: 0;
      padding: 5px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      .title {
        transition: ease-out 0.5s;
        color: transparent;
      }
  
      .button {
        transition: ease-out 0.5s;
        color: transparent;
      }
    }
  }
  .card:hover {
    transition: ease-in 0.5s;
    filter: grayscale(100%);
    .card-title {
      transition: ease-in 0.5s;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      padding: 5px;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      background-color: rgba($color: #000000, $alpha: 0.5);
  
      .title {
        transition: ease-in 0.5s;
        color: white;
      }
  
      .button {
        transition: ease-in 0.5s;
        color: white;
      }
    }
  }
}

.content-mobile {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding-bottom: 10px;

  .card-mobile {
    width: 100%;
    margin: 10px 10px 0 10px;
    overflow-y: hidden;
  
    .img-mobile {
      width: 25%;
      height: 25%;
      border-radius: 3px;
    }
  
    .header-mobile {
      display: flex;
      flex-direction: column;

      .header-title {
        display: flex;

        .title {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
          color: white;
        }
      }
    }
  }
}

.spinner {
  width:100px;
  height:100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top:-50px;
  margin-left:-50px;
  z-index: 10;

  @media(max-width: 768px) {
    width: 50px;
    height: 50px;
    margin-top:-25px;
    margin-left:-25px;
  }
}